/*
Theme Name: Mercury Child
Theme URI: https://mercury.is/
Description: Child theme for Mercury theme
Author: Space-Themes.com
Author URI: https://space-themes.com/
Template: mercury
Version: 3.5.1
*/
@import url("../mercury/style.css");

.custom-top-footer {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.custom-footer .space-footer-top{
	background-color: #565656;

}
.space-footer-area.space-widget .footer-sub-text a{
	color: #3c3c3c;
}
.space-footer-area.space-widget .footer-sub-text  a:hover{
	color:#000;
}
.custom-footer .space-footer-area.space-widget{
	color: #777777;
    font-size: 0.75em;
    line-height: 1.25em;
    font-weight: 400;
}
.footer-sub-text{
	font-size: 13px;
	color:#3c3c3c;
	 font-weight: 400;
}
.top-paragraph{
	margin-top: 30px;
	margin-bottom: 30px;
}
span.logo-bolder{
	width: auto;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: #ed6a5a !important;
}
.space-header-logo .logo-bolder{
    width: auto;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: #ed6a5a !important;
}
.space-mobile-menu-header span{
    font-weight: bold;
    font-size: 1em;
}
.space-header-logo a.text-logo{
    padding-bottom: 2px;
    text-shadow: 0 0 2px #ed6a5a;
    font-size: 1.5em;
}
.fa-crown:before {
    content: "\f521";
    font-size: .9em;
    padding: 1px;
    position: relative;
    top: -2px;
}

.space-block-title .fa-star {
    padding-right: 6px;
    font-size: 1em;
    text-shadow: -1px -1px 0px rgba(255,255,255,.3), 1px 1px 0px rgba(0,0,0,.8);
}
.space-block-title span{
    padding-left: 6px;
    font-size: 1.4em;
    letter-spacing: -1px;
    letter-spacing: -1px;
    text-shadow: 1px 1px white;
}
.space-header-logo span{
    line-height: .75em;
    padding-left: 1px;
}
.space-mobile-menu .space-mobile-menu-header a {
    color: #2d3436;
    text-shadow: 0 0 2px #ed6a5a;
}
.space-mobile-menu-header .logo-mobile-description {
    font-size: .75em;
}
.space-mobile-menu-header a.text-logo{
    font-size: 1.666em;
}
.space-widget-title{
    text-shadow: 0 0 2px #ababab;
    font-size: 2em;
}
.space-casinos-3-archive-item-terms-ins strong{
     text-shadow: 0 0 2px #ed6a5a;
}
.space-widget-title i{
    color: black;
    font-size: 0.8em;
    text-shadow: 0 0 2px #ed6a5a;
    padding-right: 5px;
}
.space-companies-archive-item-title a{
    line-height: 1.1em;
    text-shadow: 0 0 2px #ed6a5a;
}
h1, h2 { 
    text-shadow: 0 0 2px #ed6a5a;
}
 h3, h4, h5, h6 {
    text-shadow: 0 0 2px #ababab;
}
.space-pros-ins:before{
	content: "\f005";
}
.space-aces-single-bonus-info-button-ins a{
    font-size: 2.5em;
    line-height: 1.75px;
    padding: 15px 40px;
}
.space-aces-single-bonus-info-title h1{
    font-size: 3em;  
}
.space-aces-single-bonus-info-code-ins{
    display: inline-block;
    max-width: 250px;
    width: 70%;
    padding: 0;
} 
.space-footer-top{
    background-color: #eaeaea;

    background-image: url("https://casinodeals.club/wp-content/uploads/2020/12/noisy-textured-background.png");
}
.space-casinos-home-3-widget, .space-archive-title-box{
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' opacity='0.3'  viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23585261' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    box-shadow: inset 0px 0px 4px 0px #00000036;
}
.space-companies-home-widget, .space-bonuses-home-widget{
    --stripe: #cfd8dc;
    --bg: #e1e1e1;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0, linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0, linear-gradient(315deg, var(--bg) 25%, transparent 25%), linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
    box-shadow: inset 0px 0px 4px 0px #00000036;
}
.space-aces-single-bonus-info-code-ins:hover fieldset {
    transition: all 0.5s ease;
    color: #ed6a5a !important;
    border: 2px solid #ed6a5a !important;
}
.space-aces-single-bonus-info-code-ins:hover legend {
    transition: all 0.5s ease;
    color: #fff !important;
}
.space-aces-single-bonus-info-code{
    margin: 0 auto;
}
.space-aces-single-bonus-info-button{
    padding-top: 35px;
}
.space-aces-single-bonus-info-code-button{
    padding-top: 35px;
}
.bonus.space-pros-cons{
    padding: 25px;
}

.games-review-item {
    width: auto;
    display: inline-block;
    right: auto;
}
.space-style-3-casino-header-right{
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
}
.game-review-item{
    width: fit-content;

    padding-top: 10px;
    margin: 0 auto;
}
.space-games-archive-item-button {
    margin-top: 15px;
}
.space-games-archive-item-img a{
    width: 100%;
    height: 140px;
    display: block;
    background-size: 100% 100% !important;
    border-radius: 5px 5px 0 0;
    font-size: 0;
}
.space-games-3-archive-item-ins:hover .space-overlay{
    background: rgb(0 0 0 / 85%);
}
.space-games-3-archive-item-img-wrap{
    background-size: cover;
    background-position: center;
}
.space-bonuses-archive-item.space-dark-style .space-bonuses-archive-item-code-value {
    color: #fff;
    border: 2px solid #777777;
}
.space-bonuses-archive-item-code:hover .space-bonuses-archive-item-code-value{
    transition: all .5s ease;
    color: #ed6a5a !important;
    border: 2px solid #ed6a5a !important;

}
.space-bonuses-archive-item-code-value:hover .space-bonuses-archive-item-code-title{
    transition: all 0.2s ease;
    color: #fff !important;
}
.space-bonuses-archive-item.space-dark-style:hover .space-bonuses-archive-item-code-title span {
    transition: all 0.2s ease;
    color: #ffffff;
}

@media screen and (max-width: 1200px){
    .space-rating-star-wrap{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .space-games-archive-item-img a{
        height: 200px;
    }
    .game-review-item{
        padding-top:0;
    }
}

@media screen and (max-width: 767px){

    .space-games-archive-item-img a{
        height: 150px;
    }
    .game-review-item{
        padding-top:0;
    }
    .space-rating-star-icon{
        font-size: 15px;
    }
    .space-rating-star-wrap{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 479px) {
 
    .space-widget{
        width: auto;
    }
    .space-header-logo-ins {
        margin: 6px 8px 0;
    }
    .space-block-title span{
        font-size: 1.2em;
    }
    .space-aces-single-bonus-info-code-button{
        padding-top: 5px;
    }
    .space-aces-single-bonus-info-title h1 {
        font-size: 3em !important;
    }
    .space-aces-single-bonus-info-button-ins a{
        font-size: 1.5em;
    }
    .space-header-wrap {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    }
}
@media only screen and (max-width: 410px) {
    .space-games-archive-items{
        flex-direction: column;
    }
    .space-games-archive-item {
        width: 100% !important;
    }
    .space-games-archive-item-img a {
        height: 175px;
    }
}
